{% extends 'search/base.html' %}

{% block content %}

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
             <h2 class="text-uppercase text-white font-weight-bold">
                 Vos aliments sauvegardés:</h2>
            <div class="container container_result wrap" id="products_result">
                {% for product in product_result %}
                  <div class="result">
                      <div class="product_result">{{ product.product_name }}</div>
                      <div class="nutrition_grades">{{ product.nutrition_grades }}</div>
                      <div> <a href="/search/description.html?product={{ product.product_name }}"><img src="{{ product.image_url }}"
                                                                                                      class="img_result"></a></div>
                      <a href="/search/favorites.html?product={{ product.product_name }}">Ajouter au favoris</a>
                  </div>
                  {% endfor %}
          </div>
              <div class="pagination">
                <span class="step-links">
                    {% if nb_page.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ nb_page.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ nb_page.number }} of {{ nb_page.paginator.num_pages }}.
                    </span>

                    {% if nb_page.has_next %}
                        <a href="?page={{ nb_page.next_page_number }}">next</a>
                        <a href="?page={{ nb_page.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                  <div>
                      {% if error_food %}
                      <p>{{ error_food }}</p>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>
    </div>
  </header>


{% endblock %}
