{% extends 'search/base.html' %}

{% block content %}

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <p class="text-white-75 font-weight-light mb-5">
                favorites:<br />
            </p>

          <div id="print_img_result">
              {% for product in product_result %}
              <div style="display: flex; flex-direction:column; align-items:center;">
                  <h1>{{ product.product_name }}</h1>
                  <h2>{{ product.nutrition_grades }}</h2>
                    <a href="/search/description.html?product={{ product.product_name }}"><img src="{{ products.img_url }}" style="height:50 px;"></a>
              </div>
              {% endfor %}
          </div>
              <div class="pagination">
                <span class="step-links">
                    {% if nb_page.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ nb_page.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ nb_page.number }} of {{ nb_page.paginator.num_pages }}.
                    </span>

                    {% if nb_page.has_next %}
                        <a href="?page={{ nb_page.next_page_number }}">next</a>
                        <a href="?page={{ nb_page.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                  <div>
                      {% if error_food %}
                      <p>{{ error_food }}</p>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>
    </div>
  </header>


{% endblock %}
