                   #spinner {
          display: none;
          }

          .mid_find {
          margin: auto;
          }

          .container_result {
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          item-align: center;
          }

          .wrap {
          flex-wrap:wrap;
          }

          .result {
          padding-top: 15px;
          }

          .nutrition_grades {
          position: relative;
          top: 70px;
          bottom: 24px;
          }

          .img_result {
          width: 50px;
          }

          .block_dash {
          background-image:url(../img/kawin-harasai-k60JspcBwKE-unsplash.jpg);
          width: 100%;
          border:1px dotted #CCCCCC;
          padding:0.5em;
          }

          .container_result_des {
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          item-align: center;
          }

          .wrap_des {
          flex-wrap:wrap;
          }

          .block_product {
          item-align: center;
          }

          .block_des {
          background-image:url(../img/kawin-harasai-k60JspcBwKE-unsplash.jpg);
          width: 100%;
          border:1px dotted #CCCCCC;
          padding:0.5em;
          }

          .name_des {
          background-image:url(../img/kawin-harasai-k60JspcBwKE-unsplash.jpg);
          width: 100%;
          border:1px dotted #CCCCCC;
          padding:0.5em;
          position: relative;
          bottom: 200px;
          }

          .score_des {
          item-align: left;
          position: relative;
          }

          .data_des {
          item-align: right;
          position: relative;
          }

          .nutrition_grades_description {
          font-size: smaller;
          }

          .nutrition_data {
          font-size: smaller;
          }

          .info_des {
          margin: 0 auto;
          }

          .password {
          margin-right: 20px;
          }

          .email {
          margin-right: 10px;
          }

          .button-connect {
          margin: 0 auto;
          position: relative;
          }
