          #spinner {
          display: none;
          }

          .container_result {
          display: flex;
          }

          .result {
          justify-content: flex-between
          flex-direction: column
          }

          .result :first-child {
             width: 150px;
            }
          .img_result {
          width: 50px;
          }

          .block_dash {
          background-image:url(../img/kawin-harasai-k60JspcBwKE-unsplash.jpg);
          width: 100%;
          border:1px dotted #CCCCCC;
          padding:0.5em;
          }

          .name_dash {

          }
